In [93]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [94]:
df=pd.read_csv("ipl_dataset.csv")

In [95]:
df.head()

,full_scorecard,team1,team2,team1_score,team2_score,toss_winner,toss_choice,winner,margin,man_of_the_match,stadium,place
0,https://stats.espncricinfo.com/ci/engine/match...,Chennai Super Kings,Kolkata Knight Riders,131.0,133.0,Kolkata Knight Riders,Field,KKR,6 wickets,Umesh Yadav,Wankhede Stadium,Mumbai
1,https://stats.espncricinfo.com/ci/engine/match...,Mumbai Indians,Delhi Capitals,177.0,179.0,Delhi Capitals,Field,Capitals,4 wickets,Kuldeep Yadav,Brabourne Stadium,Mumbai
2,https://stats.espncricinfo.com/ci/engine/match...,Royal Challengers Bangalore,Punjab Kings,205.0,208.0,Punjab Kings,Field,Punjab,5 wickets,Odean Smith,Dr DY Patil Sports Academy,Mumbai
3,https://stats.espncricinfo.com/ci/engine/match...,Lucknow Super Giants,Gujarat Titans,158.0,161.0,Gujarat Titans,Field,Titans,5 wickets,Mohammed Shami,Wankhede Stadium,Mumbai
4,https://stats.espncricinfo.com/ci/engine/match...,Rajasthan Royals,Sunrisers Hyderabad,210.0,149.0,Sunrisers Hyderabad,Field,Royals,61 runs,Sanju Samson,Maharashtra Cricket Association Stadium,Pune

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958 entries, 0 to 957
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   full_scorecard    958 non-null    object
 1   team1             958 non-null    object
 2   team2             950 non-null    object
 3   team1_score       930 non-null    float64
 4   team2_score       948 non-null    float64
 5   toss_winner       950 non-null    object
 6   toss_choice       958 non-null    object
 7   winner            958 non-null    object
 8   margin            958 non-null    object
 9   man_of_the_match  950 non-null    object
 10  stadium           950 non-null    object
 11  place             874 non-null    object
dtypes: float64(2), object(10)
memory usage: 89.9+ KB

In [97]:
df.isnull().sum()

full_scorecard       0
team1                0
team2                8
team1_score         28
team2_score         10
toss_winner          8
toss_choice          0
winner               0
margin               0
man_of_the_match     8
stadium              8
place               84
dtype: int64

In [98]:
df['team1_score']=df['team1_score'].isna().mean()
df['team2_score']=df['team2_score'].isna().mean()

In [99]:

df.drop(['stadium','full_scorecard','place','man_of_the_match'],axis=1,inplace=True)

In [100]:
df=df.dropna()

In [101]:
df.shape

(950, 8)

In [106]:
df

,team1,team2,team1_score,team2_score,toss_winner,toss_choice,winner,margin
0,Chennai Super Kings,Kolkata Knight Riders,0.029228,0.010438,Kolkata Knight Riders,Field,KKR,6 wickets
1,Mumbai Indians,Delhi Capitals,0.029228,0.010438,Delhi Capitals,Field,Capitals,4 wickets
2,Royal Challengers Bangalore,Punjab Kings,0.029228,0.010438,Punjab Kings,Field,Punjab,5 wickets
3,Lucknow Super Giants,Gujarat Titans,0.029228,0.010438,Gujarat Titans,Field,Titans,5 wickets
4,Rajasthan Royals,Sunrisers Hyderabad,0.029228,0.010438,Sunrisers Hyderabad,Field,Royals,61 runs
...,...,...,...,...,...,...,...,...
953,Royal Challengers Bangalore,Mumbai Indians,0.029228,0.010438,Mumbai Indians,Field,Mumbai,9 wickets
954,Kings XI Punjab,Rajasthan Royals,0.029228,0.010438,Rajasthan Royals,Field,Kings,41 runs
955,Rajasthan Royals,Delhi Daredevils,0.029228,0.010438,Delhi Daredevils,Field,Royals,105 runs
956,Kings XI Punjab,Chennai Super Kings,0.029228,0.010438,Kings XI Punjab,Bat,Super,9 wickets
957,Chennai Super Kings,Rajasthan Royals,0.029228,0.010438,Rajasthan Royals,Field,Royals,3 wickets

In [103]:
# use str.split() to split the name column into first_name and last_name columns
df[['first_name', 'last_name']] = df['margin'].str.split(' ', expand=True)
# df_num = pd.get_dummies(df)

In [110]:
# create a boolean mask to check if the score contains "wickets"
mask = df['score'].str.contains('wickets')

# use the boolean mask to assign values to two new columns
df.loc[mask, 'wickets'] = df.loc[mask, 'score']
df.loc[~mask, 'runs'] = df.loc[~mask, 'score']

In [123]:
df['wickets']=df['wickets'].str.split(' ', expand=True)[0]
df['runs']=df['runs'].str.split(' ', expand=True)[0]

,team1,team2,team1_score,team2_score,toss_winner,toss_choice,winner,margin,wickets,runs
0,Chennai Super Kings,Kolkata Knight Riders,0.029228,0.010438,Kolkata Knight Riders,Field,KKR,6 wickets,6,NaN
1,Mumbai Indians,Delhi Capitals,0.029228,0.010438,Delhi Capitals,Field,Capitals,4 wickets,4,NaN
2,Royal Challengers Bangalore,Punjab Kings,0.029228,0.010438,Punjab Kings,Field,Punjab,5 wickets,5,NaN
3,Lucknow Super Giants,Gujarat Titans,0.029228,0.010438,Gujarat Titans,Field,Titans,5 wickets,5,NaN
4,Rajasthan Royals,Sunrisers Hyderabad,0.029228,0.010438,Sunrisers Hyderabad,Field,Royals,61 runs,NaN,61
...,...,...,...,...,...,...,...,...,...,...
953,Royal Challengers Bangalore,Mumbai Indians,0.029228,0.010438,Mumbai Indians,Field,Mumbai,9 wickets,9,NaN
954,Kings XI Punjab,Rajasthan Royals,0.029228,0.010438,Rajasthan Royals,Field,Kings,41 runs,NaN,41
955,Rajasthan Royals,Delhi Daredevils,0.029228,0.010438,Delhi Daredevils,Field,Royals,105 runs,NaN,105
956,Kings XI Punjab,Chennai Super Kings,0.029228,0.010438,Kings XI Punjab,Bat,Super,9 wickets,9,NaN
957,Chennai Super Kings,Rajasthan Royals,0.029228,0.010438,Rajasthan Royals,Field,Royals,3 wickets,3,NaN

In [125]:
df.isnull().sum()

team1            0
team2            0
team1_score      0
team2_score      0
toss_winner      0
toss_choice      0
winner           0
margin           0
wickets        444
runs           506
dtype: int64

In [ ]:
# find years , tournament winner and then apply time searies